#map {
    height: 600px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#paradas-list {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}

#paradas-list li {
    padding: 12px 15px;
    margin-bottom: 12px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

#paradas-list li:hover {
    background-color: #e2e6ea;
    transform: translateY(-2px);
}

#paradas-list li strong, .nombre-parada {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.text-truncate-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.btn {
    border-radius: 50px;
    padding: 8px 16px;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 15px 15px 0 0;
    padding: 16px 20px;
}
