<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GeoRoute - Software de gestión y visualización de rutas de autobuses">
    <title>GeoRoute</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo-bg.png}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin/rutas/crear-ruta.css}">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg shadow">
        <div class="container">

            <!-- Marca -->
            <div class="navbar-brand d-flex align-items-center">
                <img src="/images/logo-nobg.png" alt="Logo GeoRoute" height="40">
                GeoRoute
            </div>

            <!-- Botón móvil -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-lg-center" id="menuMobile">

                    <li class="nav-item">
                        <a class="nav-link">Rutas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/autobuses}">Autobuses</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/conductores}">Conductores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/prediccion}">Mantenimiento</a>
                    </li>

                    <!-- Dropdown usuario -->
                    <li class="nav-item dropdown ms-lg-3 mt-3 mt-lg-0">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                            role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle me-2"></i>
                            <span th:text="${administradorNombreUsuario}"></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-center">
                            <li>
                                <a class="dropdown-item text-danger d-flex align-items-center" th:href="@{/logout}">
                                    <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <div class="container-fluid mt-5">
        <div class="row">

            <div class="col-md-8">
                <div class="card shadow mb-3">
                    <div
                        class="card-header bg-white text-dark d-flex justify-content-between align-items-center flex-wrap border-bottom">
                        <h3 class="mb-0"><i class="bi bi-geo-alt"></i> Crear una ruta</h3>
                        <div class="d-flex gap-2 mt-2 mt-md-0">
                            <a th:href="@{/admin/rutas}" class="btn btn-outline-primary">
                                <i class="bi bi-arrow-left"></i> Regresar
                            </a>
                            <!-- Botón cambiado de btn-primary a btn-outline-primary -->
                            <button type="submit" class="btn btn-outline-primary" form="form-ruta">
                                <i class="bi bi-plus-circle"></i> Crear ruta
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <form id="form-ruta" th:action="@{/admin/rutas/guardar}" th:object="${rutaDTO}" method="post">
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-map"></i></span>
                                    <input type="text" th:field="*{nombreDTO}" class="form-control"
                                        placeholder="Ingrese el nombre de la ruta" />
                                </div>
                            </div>
                            <input type="hidden" id="paradas-input" name="paradasJson" value="[]" />
                        </form>
                    </div>
                </div>
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div id="map" class="mb-4"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="card shadow">
                    <div class="card-header bg-white text-dark border-bottom">
                        <h3 class="mb-0"><i class="bi bi-list-ul"></i> Lista de paradas</h3>
                    </div>

                    <div class="card-body p-2">
                        <div id="paradas-container" class="mt-2">
                            <p id="texto-arrastrar" class="text-muted mb-2" style="font-size: 0.9rem; display: none;">
                                Puedes arrastrar las paradas para cambiar el orden. <i class="bi bi-arrows-move"></i>
                            </p>
                            <ul id="paradas-list" class="list-group">
                                <div id="sin-paradas-alerta" class="alert alert-dark text-center" role="alert">
                                    <strong>¡No hay paradas creadas!</strong><br>Haz clic derecho en el mapa para crear
                                    una.
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="admin/rutas/modales :: modalCrearParada"></div>
    <div th:replace="admin/rutas/modales :: modalModificarParada"></div>
    <div th:replace="admin/rutas/modales :: modalEliminarParada"></div>

    <div th:if="${mensajesError != null}" th:inline="javascript">
        <script>
            const errors = /*[[${mensajesError}]]*/[];
            if (errors.length > 0) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top',
                    showConfirmButton: false,
                    timer: 3500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer);
                        toast.addEventListener('mouseleave', Swal.resumeTimer);
                    },
                    customClass: { popup: 'swal-popup' },
                });
                document.addEventListener('click', (e) => {
                    if (!document.querySelector('.swal-popup').contains(e.target)) {
                        Swal.close();
                    }
                });
                let showAlert = (index) => {
                    if (index < errors.length) {
                        Toast.fire({
                            icon: 'error',
                            title: errors[index],
                            iconColor: '#e74c3c',
                        }).then(() => showAlert(index + 1));
                    }
                };
                showAlert(0);
            }
        </script>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        xintegrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script th:inline="javascript">
        var paradasJson = /*[[${paradasJson}]]*/[];
    </script>

    <script src="../../../static/js/admin/rutas/crear-ruta.js"></script>
    <script th:src="@{/js/admin/rutas/crear-ruta.js}"></script>

        <script>
        document.addEventListener("scroll", () => {
            const nav = document.querySelector(".navbar");
            if (window.scrollY > 30) {
                nav.classList.add("scrolled");
            } else {
                nav.classList.remove("scrolled");
            }
        });
    </script>
</body>

</html>