<div th:fragment="modalCrearParada">
    <div class="modal fade" id="modalCrearParada" tabindex="-1" aria-labelledby="modalCrearParadaLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-sm border-0">

                <div class="modal-header bg-white border-bottom-0">
                    <h5 class="modal-title text-info-emphasis fw-semibold" id="modalCrearParadaLabel">
                        <i class="bi bi-plus-circle me-2"></i>Crear parada
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body text-muted fs-6">
                    <label for="nombre-parada" class="form-label">Nombre de la parada</label>
                    <input type="text" id="nombre-parada" class="form-control"
                        placeholder="Ingrese el nombre de la parada">

                    <label for="color-parada" class="form-label mt-3">Color del marcador</label>
                    <select class="form-select" id="color-parada">
                        <option value="blue" selected>Azul</option>
                        <option value="gold">Dorado</option>
                        <option value="red">Rojo</option>
                        <option value="green">Verde</option>
                        <option value="orange">Naranja</option>
                        <option value="yellow">Amarillo</option>
                        <option value="violet">Violeta</option>
                        <option value="grey">Gris</option>
                        <option value="black">Negro</option>
                    </select>
                </div>

                <div class="modal-footer border-top-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary rounded-pill px-4"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success rounded-pill px-4" id="guardar-parada">Crear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalModificarParada">
    <div class="modal fade" id="modalEditarParada" tabindex="-1" aria-labelledby="modalEditarParadaLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-sm border-0">

                <div class="modal-header bg-white border-bottom-0">
                    <h5 class="modal-title text-warning-emphasis fw-semibold" id="modalEditarParadaLabel">
                        <i class="bi bi-pencil-square me-2"></i>Modificar parada
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body text-muted fs-6">
                    <label for="nombre-parada-edit" class="form-label">Nuevo nombre de la parada</label>
                    <input type="text" id="nombre-parada-edit" class="form-control"
                        placeholder="Ingrese el nuevo nombre de la parada">

                    <label for="color-parada-edit" class="form-label mt-3">Color del marcador</label>
                    <select class="form-select" id="color-parada-edit">
                        <option value="blue" selected>Azul</option>
                        <option value="gold">Dorado</option>
                        <option value="red">Rojo</option>
                        <option value="green">Verde</option>
                        <option value="orange">Naranja</option>
                        <option value="yellow">Amarillo</option>
                        <option value="violet">Violeta</option>
                        <option value="grey">Gris</option>
                        <option value="black">Negro</option>
                    </select>
                </div>

                <div class="modal-footer border-top-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary rounded-pill px-4"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-warning rounded-pill px-4"
                        id="guardar-edicion">Modificar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalEliminarParada">
    <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-sm border-0">

                <div class="modal-header bg-white border-bottom-0">
                    <h5 class="modal-title text-danger-emphasis fw-semibold" id="modalEliminarLabel">
                        <i class="bi bi-trash me-2 text-danger"></i>Eliminar parada
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body text-muted fs-6">
                    ¿Estás seguro de que deseas eliminar esta parada?
                    <div class="mt-1 small text-secondary">
                        Esta acción no se puede deshacer.
                    </div>
                </div>


                <div class="modal-footer border-top-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary rounded-pill px-4"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger rounded-pill px-4"
                        onclick="confirmarEliminacion()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalConfirmarEliminar">
    <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-sm border-0">

                <div class="modal-header bg-white border-bottom-0">
                    <h5 class="modal-title text-danger-emphasis fw-semibold" id="modalEliminarLabel">
                        <i class="bi bi-trash me-2 text-danger"></i>
                        Eliminar ruta
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body text-muted fs-6">
                    ¿Estás seguro de que deseas eliminar esta ruta? También se eliminarán todas sus paradas
                    asociadas.
                    <div class="mt-1 small text-secondary">
                        Esta acción no se puede deshacer.
                    </div>
                </div>

                <div class="modal-footer border-top-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-secondary rounded-pill px-4" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-danger rounded-pill px-4" onclick="confirmarEliminacion()">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalSeleccionarAutobuses">
    <div class="modal fade" id="modalSeleccionarAutobuses" tabindex="-1"
        aria-labelledby="modalSeleccionarAutobusesLabel" aria-hidden="true" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-sm border-0">

                <div class="modal-header bg-white border-bottom-0">
                    <h5 class="modal-title text-black-emphasis fw-semibold" id="modalSeleccionarAutobusesLabel">
                        <i class="bi bi-bus-front me-2"></i>Seleccionar Autobuses
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <form th:action="@{/admin/rutas/vincular}" method="post">
                    <input type="hidden" id="rutaId" name="rutaId" />
                    <input type="hidden" id="rutaNombre" name="rutaNombre" />

                    <div class="modal-body text-muted fs-6">
                        <div id="modal-autobuses-container">
                        </div>
                    </div>

                    <div class="modal-footer border-top-0 d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-secondary rounded-pill px-4"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btn-seleccionar-autobuses"
                            class="btn btn-dark rounded-pill px-4">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalDesvincularAutobus">
    <div class="modal fade" id="modalConfirmarDesvinculacion" tabindex="-1" aria-labelledby="modalDesvincularLabel"
        aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-sm border-0">

                <div class="modal-header bg-white border-bottom-0">
                    <h5 class="modal-title text-danger-emphasis fw-semibold" id="modalDesvincularLabel">
                        <i class="bi bi-arrow-left-right me-2 text-danger"></i>Desvincular autobús de la ruta
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <form th:action="@{/admin/rutas/desvincular}" method="post">

                    <input type="hidden" name="autobusId" id="autobusIdDesvincular">

                    <div class="modal-body text-muted fs-6">
                        ¿Estás seguro de que deseas desvincular este autobús de la ruta?
                        <div class="mt-1 small text-secondary">
                            Esta acción no afectará al autobús ni a otras rutas.
                        </div>
                    </div>

                    <div class="modal-footer border-top-0 d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-secondary rounded-pill px-4"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger rounded-pill px-4">Desvincular</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalDetallesAutobus">
    <div class="modal fade" id="modalDetallesAutobus" tabindex="-1" aria-labelledby="modalDetallesAutobusLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-sm border-0">

                <div class="modal-header bg-white border-bottom-0">
                    <h5 class="modal-title text-dark fw-semibold" id="modalDetallesAutobusLabel">
                        <i class="bi bi-bus-front me-2"></i>Detalles del Autobús
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body text-muted fs-6">
                    <div class="mb-4">
                        <h6 class="text-dark fw-semibold mb-3">
                            <i class="bi bi-info-circle me-2"></i>Información del Autobús
                        </h6>
                        <p class="mb-1"><strong>Modelo:</strong> <span id="detalle-autobus-modelo"></span></p>
                        <p class="mb-0"><strong>Capacidad:</strong> <span id="detalle-autobus-capacidad"></span></p>
                    </div>

                    <hr>

                    <div class="mt-4">
                        <h6 class="text-dark fw-semibold mb-3">
                            <i class="bi bi-person-vcard me-2"></i>Información del Conductor
                        </h6>
                        <p class="mb-1"><strong>Nombre:</strong> <span id="detalle-conductor-nombres"></span></p>
                        <p class="mb-1">
                            <strong><span id="detalle-conductor-tipoDocumento"></span></strong>
                            <span id="detalle-conductor-numeroDocumento"></span>
                        </p>
                        <p class="mb-0"><strong>Estado:</strong> <span id="detalle-conductor-estado"></span></p>
                    </div>
                </div>

                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-outline-secondary rounded-pill px-4"
                        data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>